<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc.xsd
       ">

    <import resource="classpath:/conf/dev/dev-context.xml"/>

    <mvc:annotation-driven/>
    <context:component-scan base-package="cloudify.widget.website.controller" />

    <bean id="nodesDataAccessManager" class="cloudify.widget.pool.manager.NodesDataAccessManager" />
    <bean id="taskErrorsDataAccessManager" class="cloudify.widget.pool.manager.TaskErrorsDataAccessManager" />


    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cloudify.widget.website.interceptors.AuthenticationInterceptor" >
            </bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cloudify.widget.website.interceptors.ExceptionInterceptor" >
            </bean>
        </mvc:interceptor>

    </mvc:interceptors>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="#{conf.jdbcDriverClassName}"/>
        <property name="url" value="#{conf.jdbcUrl}"/>
        <property name="username" value="#{conf.jdbcUsername}"/>
        <property name="password" value="#{conf.jdbcPassword}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="accountDao" class="cloudify.widget.website.dao.AccountDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <bean id="poolDao" class="cloudify.widget.website.dao.PoolDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>


    <!-- pool manager context -->

<!--    <bean id="managerSettingsLoader" class="cloudify.widget.pool.manager.SettingsFileLoader">
        <property name="settingsFilePath" value="conf/dev/manager-settings.json" />
    </bean>-->

    <bean id="settingsLoader" class="cloudify.widget.pool.manager.SettingsFileLoader">
        <property name="settingsFilePath" value="conf/dev/manager-settings.json" />
    </bean>

    <bean id="managerPoolDao" class="cloudify.widget.pool.manager.NodesDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="settingsDataAccessManager" class="cloudify.widget.pool.manager.SettingsJsonDataAccessManager">
        <property name="settingsFileLoader" ref="settingsLoader" />
    </bean>

    <bean id="statusManager" class="cloudify.widget.pool.manager.StatusManager"></bean>

    <bean id="manager" class="cloudify.widget.pool.manager.PoolManagerApi">
        <property name="settingsDataAccessManager" ref="settingsDataAccessManager" />
        <property name="nodesDataAccessManager" ref="nodesDataAccessManager" />
        <property name="taskErrorsDataAccessManager" ref="taskErrorsDataAccessManager" />
        <property name="statusManager" ref="statusManager" />
    </bean>



</beans>