<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cloudify.widget.website.controller" />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>/conf/dev/database.properties</value>
        </property>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="accountDao" class="cloudify.widget.website.dao.AccountDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <bean id="poolDao" class="cloudify.widget.website.dao.PoolDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <bean id="managerSettingsLoader" class="cloudify.widget.pool.manager.ManagerSettingsFileLoader">
        <property name="managerSettingsFilePath" value="conf/dev/manager-settings.json" />
    </bean>

    <bean id="managerSettingsHandler" class="cloudify.widget.pool.manager.ManagerSettingsJsonHandler">
        <property name="managerSettingsFileLoader" ref="managerSettingsLoader" />
    </bean>

    <bean id="managerPoolDao" class="cloudify.widget.pool.manager.PoolDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="manager" class="cloudify.widget.pool.manager.PoolManager">
        <property name="poolDao" ref="managerPoolDao" />
        <property name="managerSettingsHandler" ref="managerSettingsHandler" />
    </bean>

</beans>